<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title></title>
</head>
<body>

<div th:fragment="templatesList" th:if="${templates !=null}">
    <div th:each="template : ${templates}">
        <div class = "form-group row" >
            <div class="col-7" th:text="${template.name}"></div>
            <div class="col-4" th:text="${template.dateOfCreation}"></div>
            <a class="btn btn-secondary col-1" th:href="@{/templates/{templateId}(templateId=${template.id})}" th:text="Edit"></a>
        </div>
    </div>
</div>

<div th:fragment="paragraphFragment">
    <div class="container">
        <div class="card m-3">
            Create your paragraph for template <div th:text="${templateId}"></div> here
        </div>
    </div>
</div>

<div th:fragment="templateXml" >
    <!--@thymesVar id="templateXmlMap" type="Map<Long,com.templater.domain.Part>"-->
    <div th:id="${entry.key}" class="border-top border-bottom" th:each="entry:${templateXmlMap.entrySet()}" >
        <div class="row">
            <div th:if="${entry.value.getType()=='Picture'}">
                <img th:src="@{'data:image/jpg;base64,'+${entry.value.getPicture()}}" />
            </div>
            <div th:if="${entry.value.getPartGroup().getName()!='Default'}" class="col-10 row">
                <div th:if="${entry.value.getType()!='Picture'}" th:id="${entry.key}+textarea" class="col-10" style="margin: 0;" th:utext="${entry.value.getContentXml()}"></div>
                <span class="col-2"  th:text="${entry.value.getPartGroup().getName()}"></span>
            </div>
            <div th:if="${entry.value.getPartGroup().getName()=='Default'}" class="col-10">
                <div th:if="${entry.value.getType()!='Picture'}" th:id="${entry.key}+textarea" class="col-12" style="margin: 0;" th:utext="${entry.value.getContentXml()}"></div>
            </div>
            <div class="col-2 row">
                <button type="button" th:id="${entry.key}+deleteButton" style="height: 30px; width:30px; padding:0"  class="btn btn btn-light btn-sm mt-2 mr-2 border border-secondary" th:onclick="'deletePart('+${entry.key}+')'"><img th:src="@{/img/baseline_delete_black_18dp.png}" alt="Удалить" /></button>
                <button type="button" th:id="${entry.key}+editButton" style="height: 30px; width:30px; padding:0" class="btn btn btn-light btn-sm mt-2 mr-2 border border-secondary" th:onclick="'editPart('+${entry.key}+')'"><img th:src="@{/img/baseline_edit_black_18dp.png}" alt="Изменить" /></button>
                <button type="button" th:id="${entry.key}+addButton" style="height: 30px; width:30px; padding:0" class="btn btn btn-light btn-sm mt-2 mr-2 border border-secondary" th:onclick="'addPart('+${entry.key}+')'"><img th:src="@{/img/baseline_add_circle_black_18dp.png}" alt="Добавить" /></button>
                <button type="button" th:id="${entry.key}+saveButton" style="height: 30px; width:30px; padding:0" class="btn btn-primary btn-sm mt-2 mr-2 border border-secondary" th:onclick="'postEditedPart('+${entry.key}+')'" hidden><img th:src="@{/img/baseline_save_black_18dp.png}" alt="Сохранить"/></button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="selectStyle" >
    <select id="selectedStyle">
        <option th:each="style:${styles}"
                th:value="${style.id}"
                th:text="${style.name}"></option>
    </select>
</div>

<div th:fragment="selectTableStyle" >
    <select id="selectedTableStyle">
        <option th:each="style:${styles}"
                th:value="${style.id}"
                th:text="${style.name}"></option>
    </select>
</div>

<div th:fragment="selectPartGroup" >
    <select id="selectPartGroup">
        <option th:each="partGroup:${partGroups}"
                th:value="${partGroup.id}"
                th:text="${partGroup.name}"></option>
    </select>
</div>



</body>
</html>