<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Шаблоны</title>
    <script th:replace="fragments/header :: headerElement"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="card mt-3">
        <div class="card-header">
            <h2>Шаблоны</h2>
        </div>
        <div  class="card-body">
            <div th:if="${templates !=null}">
                <div class="row ml-2 mr-2">
                    <p class="text-center text-justify col-4" >Название</p>
                    <p class="text-center text-justify col-3" >Дата создания</p>
                </div>
                <div th:each="template : ${templates}">
                    <!--@thymesVar id="template" type="com.templater.domain.Template"-->
                    <div class = "form-row border border-secondary rounded m-2" >
                        <div class="text-center text-justify col-4" th:text="${template.name}"></div>
                        <div class="text-center text-justify col-3" th:text="${template.dateOfCreation}"></div>
                        <div class="row float-right col-auto">
                            <a class="btn btn-secondary btn-sm col-auto ml-2" th:href="@{/templates/add/{templateId}(templateId=${template.id})}">Добавить в Мои шаблоны</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <a class="btn btn-secondary ml-2" href="/templates" >Мои шаблоны</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>