<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Стиль</title>
    <script th:replace="fragments/header :: headerElement"></script>
</head>
<body >
<!--@thymesVar id="style" type="com.templater.domain.ParagraphStyle"-->
<div th:replace="fragments/header :: header"></div>
<div class="container" th:if="${style != null}">
    <div class="card mt-3">
        <div class="card-header">
            <h2>Создание стиля параграфа</h2>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="hidden" th:field="${style.id}"   />
                <div class = "form-row col-12 border border-secondary rounded m-2 p-2">
                    <label for="name" class="mr-2 col-form-label">Имя:</label>
                    <input type="text" class="form-control col" th:field="${style.name}" />
                </div>
                <div class = "form-row col-12 border border-secondary rounded m-2 p-2">
                    <label for="font" class="mr-2 col-form-label">Font:</label>
                    <select class="custom-select col" th:field="${style.font}">
                        <option value="Arial">Arial</option>
                        <option value="Helvetica">Helvetica</option>
                        <option value="Times New Roman">Times New Roman</option>
                        <option value="Courier New">Courier New</option>
                        <option value="Comic Sans MS">Comic Sans MS</option>
                        <option value="Verdana">Verdana</option>
                    </select>
<!--                    <input type="text" class="form-control col" th:field="${style.font}" />-->
                </div>
                <div class = "form-row col-12 border border-secondary rounded m-2 p-2">
                    <label for="jc" class="mr-2 col-form-label">Выравнивание:</label>
                    <select class="custom-select col" th:field="${style.jc}">
                        <option value="left">По левому краю</option>
                        <option value="center">По центру</option>
                        <option value="right">По правому краю</option>
                        <option value="all">По ширине</option>
                    </select>
<!--                    <input type="text" class="form-control col" th:field="${style.jc}" />-->
                </div>
                <div class = "form-row col-12 border border-secondary rounded m-2 p-2">
                    <label for="textSize" class="mr-2 col-form-label">Размер текста:</label>
                    <input type="number" step="1" min="8" max="30" class="form-control col" th:field="${style.textSize}" />
                </div>
                <div class = "form-row col-12 border border-secondary rounded m-2 p-2">
                    <label for="insideSpacing" class="mr-2 col-form-label">Между строчный интервал:</label>
                    <input type="number" step="0.01" min="1" max="5" class="form-control col" th:field="${style.insideSpacing}" />
                </div>
                <div class = "form-row col-12 border border-secondary rounded m-2 p-2">
                    <label for="beforeSpacing" class="mr-2 col-form-label">Интервал перед параграфом:</label>
                    <input type="number" step="0.01" min="0" max="20" class="form-control col" th:field="${style.beforeSpacing}" />
                </div>
                <div class = "form-row col-12 border border-secondary rounded m-2 p-2">
                    <label for="afterSpacing" class="mr-2 col-form-label">Интервал после параграфа:</label>
                    <input type="number" step="0.01" min="0" max="20" class="form-control col" th:field="${style.afterSpacing}" />
                </div>
                <div class = "form-row col-12 border border-secondary rounded m-2 p-2">
                    <label for="firstLineIndent" class="mr-2 col-form-label">Отступ первой строки:</label>
                    <input type="number"  step="0.01" min="0" max="20" class="form-control col" th:field="${style.firstLineIndent}" />
                </div>
                <div class = "form-row col-12 border border-secondary rounded m-2 p-2">
                    <label for="leftIndent" class="mr-2 col-form-label">Отступ параграфа слева:</label>
                    <input type="number" step="0.01" min="0" max="20" class="form-control col" th:field="${style.leftIndent}" />
                </div>
                <div class = "form-row col-12 border border-secondary rounded m-2 p-2">
                    <label for="rightIndent" class="mr-2 col-form-label">Отступ параграфа справа:</label>
                    <input type="number" step="0.01" min="0" max="20" class="form-control col" th:field="${style.rightIndent}" />
                </div>
                <div class="row">
                    <a class="btn btn-secondary ml-2" href="/styles">Назад</a>
                    <button type="submit" class="btn btn-primary ml-2">Сохранить</button>
                    <a class="btn btn-info ml-2" href="/">Дополнительные настройки</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>